nelmio_cors:
    defaults:
        origin_regex: true
        allow_credentials: false
        allow_origin: []
        allow_headers: []
        allow_methods: []
        max_age: 0
    paths:
        '^/api':
            origin_regex: true
            allow_origin:
                - '^https?://(localhost|127\.0\.0\.1|cityquest\.test)(:[0-9]+)?$'
                - '^https://cityquest\.ru$'  # ваш production домен
            allow_methods: ['GET', 'POST', 'PUT', 'PATCH', 'DELETE', 'OPTIONS']
            allow_headers: ['Content-Type', 'Authorization', 'Accept']
            expose_headers: ['Link']
            max_age: 3600


