security:
    password_hashers:
        App\User\Domain\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\User\Domain\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        
        # Public auth endpoints (register, logout)
        api_public:
            pattern: ^/api/auth/(register|logout)
            stateless: true
            security: false
        
        # Public users endpoints (GET /api/users/{username})
        api_users_public:
            pattern: ^/api/users
            stateless: true
            security: false
        
        # Quests GET endpoints - optional JWT (can be accessed by both authenticated and anonymous users)
        # JWT will be checked if present, but not required
        api_quests_public:
            pattern: ^/api/quests
            methods: [GET]
            stateless: true
            provider: app_user_provider
            jwt: ~
        
        # JWT Login endpoint
        api_login:
            pattern: ^/api/auth/login
            stateless: true
            provider: app_user_provider
            json_login:
                check_path: api_auth_login
                username_path: username
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
        
        # JWT protected API endpoints
        api:
            pattern: ^/api
            stateless: true
            provider: app_user_provider
            jwt: ~

    access_control:
        - { path: ^/api/quests, methods: [GET], roles: PUBLIC_ACCESS }
        - { path: ^/, roles: PUBLIC_ACCESS } 